@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800;900&family=Helvetica:wght@300;400;700&family=Playfair+Display:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
}


body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

h1,
h2,
h3,
p,
a,
span,
button {
  font-family: 'Raleway', sans-serif;
}

.loaderWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 12px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


:root {
  --knotral-blue: #1A2D47;
  --knotral-blue-10: rgba(26, 45, 71, 0.1);
  --knotral-blue-20: rgba(26, 45, 71, 0.2);
  --knotral-blue-80: rgba(26, 45, 71, 0.8);
  --primary-black: #000000;
  --primary-background-color: #F2F2F2;
  --primary-white: #FFFFFF;
  --primary-white-10: rgba(255, 255, 255, 0.1);
  --primary-grey: #7A7A7A;
  --primary-blue: #42A5F5;
  --primary-category: #666666;
  --knotral-red: #FE2E00;
  --request-demo-heading: #1E419B;
  --border-color: #BDBCBC;
  --icon-green: #00B090;
  --tag-background: #efefef;
  --swiper-theme-color: #FE2E00;
  --swiper-navigation-size: 23px;
  --swiper-pagination-bottom: 10px
}